* {
  margin: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
}

.background {
  width: 100%;
  height: 100%;
  padding: 10px !important;
  background-color: #fffbfb !important;
}

#home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-textfield {
  width: 100%;
  margin-top: 20px !important;
}

.questionnaire
{
  margin-top: 20px;
}